// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#congress-name {
  font-family: Impact;
  font-size: 2em;
}

#donors {
  background-color: 0 auto;
}

.t-head {
  font-family: Arial;
  font-stretch: semi-condensed;
}
